/*Menu options*/
#menubtn{
    width: 80px;
    height: 80px;
    border: none;
    background-color: transparent;
}
#menubtn img{
    width: 60px;
    height: 60px;
}

.menu{
    background: rgb(48,24,37);
background: linear-gradient(176deg, rgba(48,24,37,1) 10%, rgba(0,0,0,1) 100%);

}

.menu img{
    width: 50px;
    margin-left: 20px;
}
/**/